#logic {
    height: auto;
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#begin, #arrive {
    display: flex;
    align-items: center;
}
#begin, #arrive {
    height: 40px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 50px;
    background-color: gray;

    auto-complete-input {
        position: relative;
        background-color: gray;
    }
}